@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter-ExtraBold.ttf");
}

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 1080px;
    height: 1080px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    background-image: url("../img/background.png");
}

.text {
    font-family: "Bitter";
    font-size: 65px;
    color: white;

    display: flex;
    flex-direction: row;
    max-width: 1000px;
}

.symbol {
    margin: 35px;
}
